/*GENERELLE REGLER*/
    /*MARGIN*/
        *{
            margin:0;
            padding:0;
        }

        section{
            margin-top: 20px;
        }

    /*Tekst*/
        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            letter-spacing: 35px;
        }

        h2{
            font-family: Franklin Gothic Heavy;
            font-style: italic;
        }

        h3{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
        }

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    
    /*Links*/
        a{
            font-family: Gill Sans MT Condensed;
            color: #d218a0;
            text-decoration: none;
        }
        a:hover{
            color:#fd7d03;
        }
        
    /*Call to action*/
        #call{
            color: white;
            background-color: black;
            border-radius: 25px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #call:hover{
            color: black;
            background-color: white;
        }



/*HEADER*/

    .headerbox{
        background-color: white;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
                                                        /*Bundlinje how? i gradient??? (20 px efter content)*/
    }

    #hbv{
        width: 30%;
    }

    #hbh{
        text-align: right;
        border-left:1px, solid,#d218a0;
    }

    nav{
        text-align: right;
    }

    nav>a{
        font-size: 24pt;
        margin-left: 5%;
    }



/*FOOTER*/



/*MAIN*/
