/*GENERELLE REGLER*/
    /*MARGIN*/
        *{
            margin:0;
            padding:0;
        }

        section{
            margin-top: 20px;
            width: 100%;
        }

        #firstsection{
            margin-top: 185px;
            height: 0px;
        }

    /*Tekst*/
        h1{
            font-family: Sylfaen;
            letter-spacing: 5px;
            color: #d218a0;
        }

        h2{
            font-family: Franklin Gothic Heavy;
            font-style: italic;
            color: #d218a0;
        }

        h3{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
            font-weight: 100;
        }

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 10pt;
        }
    
    /*Links*/
        a{
            font-family: Gill Sans MT Condensed;
            color: #d218a0;
            text-decoration: none;
        }
        a:hover{
            color:#fd7d03;
        }
        
    /*Call to action*/
        #call{
            color: white;
            background-color: black;
            border-radius: 25px;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #call:hover{
            color: #d218a0;
        }

    /*Knapper*/
        button{
            border: none;
            background-color: white;
        }

        button>p{
            text-align: center;
        }

/*HEADER*/
    header{
        background-color: white;
        padding-bottom: 20px;
        border-bottom: 5px solid #d218a0;
        width: 100%;

        top: 0px;
        position: fixed;
        z-index: 2;
    }

    .headerbox{
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 120px;
                                                        /*Bundlinje how? i gradient??? (20 px efter content)*/
    }

    #hbv{
        width: 30%;
        margin-left: 20px;
    }

    #hbh{
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    /*knapper med ikoner i toppen*/
    #knapper>button{
        margin-left: 15px;
    }


        /*NAV med Dropdown*/
            nav{
                text-align: right;
                margin-right: 20px;
                margin-top: -60px;
            }

            nav>a, button{
                font-size: 20pt;
                margin-left: 100px;
            }

            #søg{
                top: 10px;
                position: relative;
                z-index: 2;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }
            
            .dropdown-content {
                display: none;
                position: absolute;
                right: -40%;
                background-color: white;
                min-width: 100px;
                padding: 20px;
                z-index: 1;
            }
            
            .dropdown:hover .dropdown-content{
                display: block;
            }

            .dropdown-content li{
                list-style: none;
                text-align: left;
                margin-bottom: 10px;
            }
        
/*FOOTER*/
    .footerbox{
    background-color: #d218a0;
    height: 400px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    }

    .list{
        display: flex;
        justify-content: space-around;
    }

    .list ul{
        list-style-type: none;
    }

    .list li{
        margin-top: 20px;
        color: white;
    }

    .list a{
        font-size: 20pt;
        color: white;
    }

    .list a:hover{
        text-decoration: underline;
    }
    


/*MAIN - INDEX*/
    /*section 1 - SLIDESHOW - hvordan koder man det?*/
        .slideshow{
            text-align: center;
        }

        .slbox{
            color: white;
            background-color: black;
            opacity: 0.6; /*60% synlighed*/
            padding: 10px;
            text-align: left;
            width: 953px;

            z-index: 1; 
            margin-top: -54px;
            margin-left: 273px;
        }

        



    /*section 2 - FREMHÆVEDE ARTIKLER*/
        .fa{
            display: flex;
            justify-content: center;
            
        }

        .fav, .fah{
            min-width: 464px;
            margin-right: 10px;
            margin-left: 10px;
        }

        #under{
            width: 473px; /*20px kortere pga. padding på 10px i hver side*/
            margin-top: 20px;
        }

        .arbox{
            color: white;
            background-color: rgb(0, 0, 0, 0.6); /*60% synlighed*/
            padding: 10px;
            text-align: left;

            position: relative; /*Vigtig for at sort boks med tekst er OVENPÅ foto*/
            z-index: 1;
            margin-top: -60px;
        }

        .arbox a{
            color: white;
        }

        .arbox a:hover{
            color: #d218a0;
        }
    



    /*section 3 - KONKURRENCE*/
        .konkurrence{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
        }

        .konkurrence h1{
            font-size: 50pt;
        }

        .konkurrence h2{
            font-size: 30pt;
            margin-left: 130px;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .konkurrence p{
            font-size: 18pt;
            margin-top: 10px;
            text-align: left;
        }

        .konkurrence a{
            font-size: 30pt;
        }

        #flytcall{
            margin-bottom: 160px;
        }





    /*section 4 - KORT*/
        .cards{
            min-width: 950px;
            background-color:white;
        }

        /*TITEL*/
        #cardheadline{
            text-align: center;
            font-size: 50pt;
            padding-top: 20px;
            font-weight: 100;
            text-transform: uppercase;
        }

        #cardheadlineleft{
            text-align: left;
            margin-left: 135px;
            font-size: 50pt;
            padding-top: 20px;
            font-weight: 100;
            text-transform: uppercase;
        }
        
        .cardscontainer{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        
            /*flex-wrap virker ikke?*/
        }

        /*Design af hver enkelte kort*/
        .cardscontainer div{
            text-align: center;
            padding: 10px;
            padding-bottom: 20px;
            border: solid 4px black;
            background-color: white;
        }

        .cardscontainer div *{
            margin-bottom: 10px;
        }

        .cardscontainer div p{
            margin-bottom: 20px;
        }






/*MAIN - ARTIKEL - alt der ikke har en specifik id, som fx h1 skal starte med class = .ra*/
/*TEXT*/
    .ra h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30pt;
        letter-spacing: normal;
        color: #d218a0;
    }

    .ra h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 24pt;
        letter-spacing: normal;
        font-style: normal;
        color: #d218a0;
    }

    .ra h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18pt;
        letter-spacing: normal;
        text-transform: none;
        color: #d218a0;
    }

    .ra h4{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18pt;
        letter-spacing: normal;
        text-transform: none;
        color: #d218a0;
        margin-top: 20px;
    }

    .ra p{
        font-family: calibri;
        font-size: 14pt;
        color: black;
        margin-bottom: 10px;
    }

    .ra li{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14pt;
        color: black;
        margin-bottom: 20px;
    }



.ra button{
    display: flex;
    margin-left: 0px;
}

.ra button p{
    margin-left: 5px;
    color: #d218a0;
}

.introbox{
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ra .guidebox{
    text-align: center;
    height: 550px;
}

.ra .guidebox .guidetxt{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 40px;
}

.ra .ordbon{
    display: flex;
    justify-content: center;
}

.ra #bonus{
    text-transform: uppercase;
}

.ra .outrobox{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.ra .instabox{
    height: 450px;
    padding-top: 20px;
    margin-bottom: 20px;

    border-top: solid 5px #d218a0;
    border-bottom: solid 5px #d218a0;
}

.ra .instabox h3{
    text-align: center;
}

.ra .instaboxcontent{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.ra #eller{
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ra #instalilla{
    color: #d218a0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

